@import './mixins';

$primary_dark:    #333333;
$primary_light:   #999999;
$secondary_dark:  #492201;
$secondary_light: #7c3f00;
$accents:         #003200;
$accents_light:   #005a00;

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(135deg, $primary_light, $primary_dark);
}

#padContainer {
    width: 80vw;
    height: 60vh;
    margin: 2.5vh auto;
    background: $secondary_dark; 
    background-image: url('./wood.png');
    border-radius: 25px;
    @include flexbox();
    @include flex-flow(row wrap);
    padding: 20px calc(5% - 30px);
    border: 2px solid $accents_light;
    .pad{
        width: 30%;
        height: 30%;
        margin-left: 5%;
        margin-top: calc((2.5% - 20px) / 2);
        &:nth-of-type(3n+1){
            margin-left: 0px;
        }
        background-image: linear-gradient(135deg, $primary_light 20%, $primary_dark 80%, $primary_dark 100%);
        border-radius: 10px;
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        .shortcut{
            color: $accents_light;
            h3{
                font-size: 5rem;
            }
        }
    }
}

#recorder{
    width: 80vw;
    height: 20vh;
    margin: 2.5vh auto;
    background-image: linear-gradient(to right, $primary_dark 0%, $primary_light 50%, $primary_dark 100%);
    border: 2px solid $accents_light;
    border-radius: 15px;
    @include flexbox();
    @include flex-flow(row wrap);
    padding: 20px calc(5% - 30px);
    .track{
        width: 45%;
        height: 45%;
        border: 2px solid white;
        margin-left: 2.5%;
        @include flexbox();
        @include align-items(center);
        [id*="track"]{
            display: block;
            width: 35px;
            height: 35px;
            font-size: 0;
            background-color: red;
            border: 0;
            border-radius: 35px;
            margin-left: 15px;
            outline: none;
        }

        .notRec{
            background-color: darkred;
        }
        
        .rec{
            animation-name: pulse;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes pulse{
            0%{
                box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
            }
            65%{
                box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
            }
            90%{
                box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
            }
        }

        [id*="play"]{
            display: none;
            background: rgba(0,0,0,0);
            margin-left: 10px;
            width: 35px;
            height: 35px;
            border-style: solid;
            border-width: 17px 0 17px 35px;
            border-color: rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) $accents_light;
            box-sizing: border-box;
            transition: 100ms all ease;
            &.paused {
                border-style: double;
                border-width: 0px 0 0px 30px;
            }
        }
    }
    
}

